/** ALL **/
body{
   padding:.5em;
   margin:0 2em;
}

main{
    padding-bottom:2em;
}

.navbar{
    margin-bottom: 2em;
}

ul{
    list-style:none;
    padding-inline-start: 0px
}

/**MATERIAL **/
.materialcard{
    margin-bottom:2em;
}

/**HOME **/

.home{
    background-image: url(../images/home.jpg);
    opacity: 75%;
    background-size: 250vh;
    background-repeat: no-repeat;
    margin-top:-2em;
    color: rgb(9, 46, 11);
    text-align:center;
}

.home h1{
    font-weight:600;
    color:rgb(7, 49, 11);
}

.border-primary{
    max-width: 20rem;
    margin-right:1em;
}

.jumbotron{
    padding:0.5em;
    margin-top:1.5em;
    margin-bottom:1.5em;
    background-color: transparent;
}
.card{
    margin:1em;
    width: 75%;
}
.card-header{
   font-size: 1em;
   font-weight:600;
}

.card-title{
    font-size:.9em;
}

.card-text{
    font-size:.9em;
}

.close {
    position: absolute;
    bottom: 0;

}

.intro{
    list-style:none;
}

.presentation-list>ul{
    margin:3em 8em 5em 8em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.presentation-list>ul>li{
    width:30%;
    margin:2em;
}

/** FOOTER **/

footer{
    padding :1em;
}

.inactive {
    display: none;
}

/** RECIPE **/

.images{
    width: 30%;
    margin-bottom:0.2em;
}

.recipes{
    max-width: 20rem;
}

.recipe{
    padding:2em;
}

.recipe-comment {
    font-size:.9em;
    margin-bottom:.5em;
}

.pdf-btn a{
    color:white;
}

.pdf-btn {
    margin-bottom:2em;
}

/** SEARCH**/

.head-search{
 margin-bottom:3em;
}

.body-search{
    margin:5em;
}
/** SIGNUP SIGNIN ACCOUNT**/
.sign{
margin:5em 25em 25em 25em ;
}

/** ACCOUNT**/
.account{
    margin : 5em 0 10em 0;
}

/** ABOUT**/
.about{
    margin:5em;
}

.about>p{
   font-size:1em;
}

@media (max-width: 640px) {
    body{
        padding:0em;
        margin:0.2em;
     }
     .home{
        background-image: url(../images/home.jpg);
        opacity: 125%;
        background-size: 80vh;
        background-repeat: no-repeat;
        margin-top:-2em;
        color:white;
        text-align:center;
    }

     .home-title{
        font-size:1.8em;
        font-weight:800em;
    }
    .home h1{
        color:white;
        font-weight:1000em;
    }
    .home-intro{
        margin:1em;
        font-size:.9em;
    }
    .Intro{
        margin:.5em;
        font-size:.8em; 
    }
    .presentation-list>ul{
       margin:0;
       font-size:.7em; 
    }
    .card{
         width:100%;
         margin:1.2em;
    }
    .card-body{
        margin:.9em;
        padding:0;
    }
    .sign{
        margin:0;
    }
    .user-form{
        margin:0;
        padding:1em;
    }
    .card{
        margin:.3em;
        width: 75%;
    }
  }